<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cotización No: <%= @cotiza.id%></h1>
   
    <p>
      No dude en comunicarse con nosotros: <%= @url %>.
    </p>
    <p>Gracias por su preferencia, que tenga un buen día!</p>
  </body>
</html>
