<!-- Encabezado -->
<header class="w3-container qb-colorPrim w3-center" style="padding:100px 8px" id="inicio">
  <h2	class="w3-margin">  Te deseamos una buena jornada! </h2>
  <br>
  <h5 class="w3-margin"><%= Time.now.httpdate %></h5>
  <br>
  <h3 id="noticias" class="w3-margin">NOTICIAS:</h3>
  <h3 class="w3-margin">AVISOS:</h3>
  
  <div class="w3-padding-16">
    <a href="#" class="w3-btn qb-colorBotonInact qb-hover w3-padding-large w3-xlarge"
      onclick="salidaAuto()" style="font-weight:900;"
      >Salir de AutoDAT</a>
  </div>
  
  <!-- Solamente para presentar un lugar de referencia para la función de salida de autoDAT-->
  <h3 id="salidaAuto" style="display:none"> </h3>
</header>


  
